/* Write yboour CSS here! */

body {
    display:block;
    margin: 8px;
}

h2 {
    color: rgb(248, 137, 96);
}


#header {
    background-color: cadetblue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainHeading {
    color: red;
    font-size: 50px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.food-trough {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food-card {
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px cadetblue;
    /* box-shadow: 5px 5px 20px rgb(134, 141, 134); */
    margin: 10px;
    text-align: center;
    
}

.food-image {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    border-radius: 20px;
}

#testP {
    color: green;
}

.requirements {
    background-color: rgb(241, 147, 113);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-solid {
    color: cadetblue;
}

#contact-me {
    display: flex;
    flex-direction: wrap;
    align-items: flex-end;
    justify-content: space-between;

}

#toe-box {
    padding: 30px;
}